.DS_store
.env
test
result
hosts/result
hosts/darwin/result
/.pre-commit-config.yaml
.pre-commit-config.yaml
.direnv
secrets/.env
.venv
*.code-workspace
test
dummy-x11-cursors
.vscode
__pycache__
.idea
dist
cur.py
.test