imports = ["language.c", "git.hooks"]

language.c.includes = ["zlib", "cyrus_sasl"]

language.c.libraries = ["zlib", "ffmpeg", "imagemagick"]

[devshell]
name = "Default Shell"

packages = [
    "xcur2png",
    "imagemagick",
    "gimp",
    "inkscape",
    "ffmpeg",

    "nix-index",
    "nix-prefetch-github",
    "nix-prefetch-scripts",

    "xorg.libXcursor",
    "xorg.xcursorgen",
]
packagesFrom = ["direnv"]

# [[env]]
# name = "PATH"
# prefix = "$DEVSHELL_DIR/bin"

# [[env]]
# name = "PYTHONPATH"
# prefix = "$DEVSHELL_DIR/lib"
